@import "tailwindcss";

:root {
  --color-lavender: #e8e6f0;
  --color-blush: #f5eef0;
  --color-plum: #4a3f7a;
  --color-plum-light: #8b80c9;
  --color-plum-pale: #e7dbff;

  --color-surface: #1a1826;
  --color-surface-alt: #211f30;
  --color-text: #f0eefa;
  --color-text-muted: #9a95b3;
  --color-border: #322f45;
  --color-accent: #8b80c9;
  --color-accent-pale: #2c2840;
  --color-cta: #4a3f7a;
  --color-shadow: 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0d1a;
  color: var(--color-text);
  font-family: "Segoe UI", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #4a3f7a;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
