@import "tailwindcss";

:root {
  --color-lavender: #e8e6f0;
  --color-blush: #f5eef0;
  --color-plum: #4a3f7a;
  --color-plum-light: #8b80c9;
  --color-plum-pale: #e7dbff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e6f0;
  font-family: "Segoe UI", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #4a3f7a;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
